# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# API Configuration
SUPABASE_SERVICE_ROLE_KEY=
API_PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your-jwt-secret
JWT_EXPIRY=7d
